altair==5.0.1
jupyterlab==4.0.1
ipywidgets==8.0.6
matplotlib==3.10.5
seaborn==0.13.2
numpy==1.26.4
pandas==2.2.0
jupyterlab-dash==0.1.0a3
scikit-learn==1.7.1
statsmodels==0.13.5
pytest==7.3.1
nbdime==4.0.2
duckdb==1.2.0
pyarrow==12.0.1
openpyxl==3.1.2
streamlit
watchdog
jupyter==1.1.1
ipywidgets==8.0.6
python-dotenv==1.0.0
psycopg2-binary==2.9.7
SQLAlchemy==2.0.15
missingno==0.5.2
plotly==5.18.0
geopy